
//nav

.a-menu{
	display: inline-block;
	text-align:center!important;
	padding:5px;
	background-color:$fondo;
	margin-top: 0;
	width: 99%;
}

.a-menu__item{
	display:inline-block;
	font-size:14px;
	font-weight:700;
	padding:20px;
	color:white;
	position:center;
	padding-left:4rem;
}

.a-menu__item__link{
	color:$white;
	text-decoration:none;
	padding:15px;
	border-radius:15px;
	margin-top: 0;
	&:hover{
		color:$hover;
		text-decoration:none;
		list-decoration:none;
	}
&__profile{
	background-color: $fondo_body;
	}

}
.fotoperfil{
	border-radius:50%;
	margin-right:10rem;

}
.fa{
	margin-right:5px;
}
//section principal
header{
	background-color:$fondo_body;
	height: 100vh;
	width: 100%;
}

.article{
	display: inline-block;
	padding:20px;
&__img{
margin-left: 20rem;
color:white;
padding-top:10px;
	}	
}

.article__datos{
	display:inline-block;
	padding-left:45%;
	margin-top:-20rem;
&__title{
	color: $titulos;
	}
&__desc{
	color:$white;
	}	
}

.article__datos__desc--boton{
	width:15rem;
	background-color: $titulos;
	border-radius: 30px;
	height: 3rem;
	text-decoration:none;
	font-size:25px;
	color:$white;
	&:hover{
		color: $white;
	}
}

.social-ul{
	 width: 30%;
 margin: 0 auto;
 padding-top:5rem;
}
.social-ul__icons{
	display:inline-block;
	margin-left:1rem;
}
.article__datos__desc--perfil{
	width:70%;
	color:$white;
} 